/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/storage/framework/views/
/storage/*.key
/vendor
.env
.env.example
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/api.mascodeproduct.com
/blog.mascodeproduct.com
/mascode.mascodeproduct.com
/.vscode
/test.mascodeproduct.com/
/actus.mascodeproduct.com/
/fcsalvador.mascodeproduct.com/
/salvador.mascodeproduct.com/
/react.mascodeproduct.com/
/presence.mascodeproduct.com/
/pres.mascodeproduct.com/

/forage.mascodeproduct.com/
/portefolio.mascodeproduct.com/

